[Desktop Entry]
Name=Dolphin Island 2 
GenericName=Platformer Game 
Comment=Dolphin Island 2 is a game made by Jan (@AldianSolkai) and James (@jtangc) for the A Game By It's Cover 2015 Game Jam.
Exec=/usr/bin/launch-dolphinisland2.sh
Icon=dolphinisland2
StartupNotify=true
Terminal=False
Type=Application
Categories=Game;
